*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: rgb(241, 241, 241);
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.exercise-card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.exercise-movement {
  display: flex;
  gap: 1rem;
}

.exercise-movement img {
  max-width: 30%;
  height: auto;
}

.exercise-stats {
  padding: 1rem;
  width: 100%;
}

img {
  margin-top: 0.5rem;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.data {
  border: 0.1rem solid;
  border-radius: 1rem;
  padding: 0rem 0.3rem 0rem 0.3rem;
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
}

.label-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  padding: 0.2rem;
  width: 90%;
}

.label-data-holder {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.exercise-name {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}

/* Color accents for muscle groups */
.chest {
  background-color: #dc2626; /*Red-600-uicolors.app */
}

.data[data-muscle-group="Triceps"] {
  color: #059669; /* Green-600-uicolors.app */
}

.data[data-muscle-group="Shoulders"] {
  color: #2563eb; /* Blue-600-uicolors.app */
}
.data[data-muscle-group="Traps"] {
  color: #9333ea; /* Purple-600-uicolors.app */
}

@media (max-width: 500px) {
  .exercise-movement {
    flex-direction: column;
    place-items: center;
  }

  .exercise-movement img {
    max-width: 60%;
    display: flex;
  }

  .exercise-name {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    padding-right: 0;
    padding-left: 0;
  }

  .label {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .data {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 3rem;
  }
}
